libraries/bridge/steam_api_bridge.dll/source/*.o
libraries/bridge/steam_api_bridge.dll/*.so
libraries/Release/*
libraries/Debug/*
libraries/proxy/steam_api_bridge/Release/*
libraries/proxy/steam_api_bridge/Debug/*
libraries/proxy/steam_api_proxy/Release/*
libraries/proxy/steam_api_proxy/Debug/*
SteamBridge.opensdf
SteamBridge.sdf
SteamBridge.suo
.*.sw*
tools/pysteambridge/config.py
libraries/common/include/config.h
ipch
steam_api_proxy.dll
*.pyc
.configuration.json
